@{
    ViewData["Title"] = "Потребители";
}
@{var permision = User.Claims.Where(u => u.Type == "permission").Select(u => u.Value).FirstOrDefault();}
<input type='hidden' id='uid' value=@permision>
<br />
<div class="row p-0 m-0">
    <div class="col-md-4">
        <a asp-controller="Users" asp-action="UsersList">
            <h2 class="text-info">Списък потребители</h2>
        </a>
    </div>
    @if (permision == "Admin")
    {
        <div class="col-md-3" style="padding-top:6px;">
            <label>
                <input class="fancycheck" style="margin-left:15px;" type="checkbox" name="showNotActive" id="showNotActive">
                <span aria-label="showNotActive">Чакащи одобрение</span>
            </label>
            @*<input style="margin-left:15px;" type="checkbox" name="showNotActive" id="showNotActive">*@
            <span class="chatnotifications" for="showNotActive"></span>
            <span title="Чакащи одобрение" class="notificationsMenuSmall" id="notActiveCountinner" hidden></span>
        </div>
        <div class="col-md-3" style="padding-top:6px;">
            <label>
                <input class="fancycheck" type="checkbox" name="showDeleted" id="showDeleted">
                <span aria-label="showDeleted">Изтрити потребители</span>
            </label>
        </div>

        @*<div class="col-md-2">
                <a asp-action="CreateNewUser" asp-controller="Users" class="btn btn-info form-control text-white">
                    Създай потрбител
                </a>
            </div>*@
    }
    <div class="col-12 border p-3">
        <table id="DT_load" class="table table-striped table-bordered compact" style="width:100%">
            <thead>
                <tr>
                    <th>Дирекция</th>
                    <th>Отдел</th>
                    <th>Сектор</th>
                    <th>Име на потребител</th>
                    <th><i class="fas fa-phone"></i></th>
                    <th>Действия</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/usersList.js"></script>
}