@model string
@{
    ViewData["Title"] = "Добре дошли";
}

<div id="accaunt" hidden>@this.User.Identities.FirstOrDefault().Name.ToLower()</div>
<div id="forbidden" hidden>@(this.User.Identities.FirstOrDefault().Claims.Where(c => c.Value == "Forbidden").FirstOrDefault() != null ? "true" : "false")</div>


<script type="text/javascript">
    function showSweet(event) {
        var content = document.createElement('div');
        var name = $('#accaunt').text();
        var forbidden = $('#forbidden').text();
        if (forbidden === 'false') {
            const loc = window.location.href;
            const path = loc.substr(0, loc.lastIndexOf('/') + 1);
            content.innerHTML = 'Здравейте, <strong>' + name + '</strong>.</br>Нямате създаден акаунт за оторизация в <strong>\"Мениджър задачи\"</strong>. Желаете ли да го създадете сега?';
            swal({
                title: "Информация",
                content: content,
                icon: "info",
                closeOnClickOutside: false,
                buttons: ["Отказ", "Да"],
            }).then((willRegister) => {
                if (willRegister) {
                    window.location.href = `${path}Register`;
                }
                else {
                    window.location.href = `https://staging.egov.bg/wps/portal/egov/home`;
                }
            });
        }
        else {
            content.innerHTML = 'Здравейте, <strong>' + name + '</strong>.</br>Вашия акаунт в <strong>\"Мениджър задачи\"</strong> е закрит. Свържете се с администратор';
            swal({
                title: "Информация",
                content: content,
                icon: "info",
                closeOnClickOutside: false,
                buttons: [false, "Ok"],
            }).then((willRegister) => {
                if (willRegister) {
                    window.location.href = `https://staging.egov.bg/wps/portal/egov/home`;
                }
                else {
                    window.location.href = `https://staging.egov.bg/wps/portal/egov/home`;
                }
            });
        }
 
    }

</script>
@section Scripts{
    <script>
        $(document).ready(function () {
            showSweet();
        });
    </script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
