input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

    /* Text color for the label */
    input[type="checkbox"] + span {
        cursor: pointer;
        font: 15px sans-serif;
        color: black;
    }

        /* Checkbox un-checked style */
        input[type="checkbox"] + span:before {
            content: '';
            border: 1px solid grey;
            border-radius: 3px;
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-right: 0.5em;
            margin-top: 0.5em;
            vertical-align: -2px;
        }

    /* Checked checkbox style (in this case the background is red) */
    input[type="checkbox"]:checked + span:before {
        /* NOTE: Replace the url with a path to an SVG of a checkmark to get a checkmark icon */
        background-image: url('../svg/checkmark.svg');
        background-repeat: no-repeat;
        background-position: center;
        /* The size of the checkmark icon, you may/may not need this */
        background-size: 25px;
        border-radius: 2px;
        background-color: #e7ffba;
        color: white;
    }

    /* Adding a dotted border around the active tabbed-into checkbox */
    input[type="checkbox"]:focus + span:before,
    input[type="checkbox"]:not(:disabled) + span:hover:before {
        /* Visible in the full-color space */
        box-shadow: 0px 0px 0px 2px rgba(0, 150, 255, 1);
        /* Visible in Windows high-contrast themes
     box-shadow will be hidden in these modes and
     transparency will not be hidden in high-contrast
     thus box-shadow will not show but the outline will
     providing accessibility */
        outline-color: transparent;
        outline-width: 2px;
        outline-style: dotted;
    }


    /* Disabled checkbox styles */
    input[type="checkbox"]:disabled + span {
        cursor: default;
        color: black;
        opacity: 0.5;
    }

#watermarkholiday {
    position: absolute;
    top: 45%;
    right: 40%;
    opacity: 0.5;
    text-align: center;
    color: cornflowerblue;
    /*z-index: 10;*/
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -sand-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#watermarkill {
    position: absolute;
    top: 45%;
    right: 40%;
    opacity: 0.5;
    text-align: center;
    color:salmon;
    /*z-index: 10;*/
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -sand-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

