/*.systemlate {
    background: red;
    animation: mymove 3s infinite;
}

@keyframes mymove {
    from {
        background-color: red;
    }

    to {
        background-color: blue;
    }
}
*/

.otpuski {
    /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
    background: linear-gradient(-45deg, #4800ff, #0094ff, #23a6d5, #0094ff);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}
.bolnichni {
    /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
    background: linear-gradient(-45deg, #f34242, #d25c08, #c02f2f, #f34242);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

