
.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonZap {
    min-width: 100px;
    min-height: 30px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    /*    text-transform: uppercase;*/
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    /*border-radius: 1000px;*/
    border-radius: 100px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    /*padding: 10px;*/
}

    .buttonZap.special {
        background: rgb(250, 138, 138);
        background: linear-gradient(90deg, rgba(250, 138, 138,1) 0%, rgba(250, 133, 138,1) 100%);
        box-shadow: 12px 12px 24px rgba(250, 133, 138,.64);
    }

button.buttonZap::before {
    content: '';
    /*border-radius: 1000px;*/
    border-radius: 100px;
    min-width: calc(100px + 12px);
    min-height: calc(30px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

button.buttonZap.special::before {
    border: 6px solid rgb(254, 168, 168);
    box-shadow: 0 0 60px rgba(250, 133, 138,.64);
}

.buttonZap:hover, .buttonZap:focus {
    /*color: #313133;*/
    color: #fff;
    transform: translateY(-6px);
}

button.buttonZap:hover::before, button.buttonZap:focus::before {
    opacity: 1;
}

button.buttonZap.special::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    /*border: 6px solid #00FFCB;*/
    border: 6px solid red;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

button.buttonZap:hover::after, button.buttonZap:focus::after {
    animation: none;
    display: none;
}

.buttonZap.focus, .buttonZap:focus {
    outline: 0;
    box-shadow: none !important;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    100% {
        width: 150px;
        height: 150px;
        opacity: 0;
    }
}

