@model AproveViewModel
<!-- Modal -->
<div class="modal fade" id="add-contact" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div style="background-color:whitesmoke;" class="modal-header">
                <label style="font-size:small;" class="modal-title" id="addContactLabel"><strong>Дирекция: </strong></label>
                <p style="margin-left:8px; color:black;"><span style="font-weight:700">@Model.UnitName</span></p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="AproveDirReport">
                    <input asp-for="UnitId" hidden />
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div class="form-group">
                        <label asp-for="AproveDate">Изберете дата, до която вкл. ще бъдат одобрени всички отчети:</label>
                        <div class="col-md-5 offset-md-3">
                            <div class="form-group">
                                <input asp-for="AproveDate" class="form-control" id="aprovedate" />
                                <span asp-validation-for="AproveDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="button back-small" data-dismiss="modal">Отказ</button>
                <button type="button" class="button save-small" data-save="modal">Одобри отчетите</button>
            </div>
        </div>
    </div>
</div>