@model CreateDepViewModel
<!-- Modal -->
<div class="modal fade" id="add-contact" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div style="background-color:whitesmoke;" class="modal-header">
                <label style="font-size:medium; text-align:center" class="modal-title" id="addContactLabel"><strong>Редакция на отдел</strong></label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="EditDepartment">
                    <input asp-for="DepId" hidden />
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div class="form-group">
                        <label asp-for="Directorates"><strong>Дирекция</strong></label>
                        @*@Html.LabelFor(model => model.TaskPrioritys, new { @class = "col-md-2 col-form-label" })*@
                        @Html.DropDownListFor(m => m.DirectoratesId, new SelectList(Model.Directorates, "Value", "Text"), new { @class = "form-control", name = "directorate", id = "directorateId" })
                    </div>
                    <div class="form-group">
                        <label asp-for="DepartmentName"><strong>Име на отдела до 200 символа</strong></label>
                        @Html.TextAreaFor(model => model.DepartmentName, new { @class = "form-control", placeholder = "Въведете име на отдела", rows = "3" })
                        <span asp-validation-for="DepartmentName" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="background-color:whitesmoke;">
                <button type="button" class="button back-small" data-dismiss="modal">Отказ</button>
                <button type="button" class="button save-small" data-save="modal">Запис</button>
            </div>
        </div>
    </div>
</div>