<div class="row PrimeBox4" style="margin-top:5px; font-size:medium; max-height:30px;">
    <div class="col-md-5">
        Име на задачата
    </div>
    <div class="col-md-2">
        <label style="padding-left:10px;">Статус</label>
    </div>
    <div class="col-md-1">
        <label style="padding-left:10px;">Приоритет</label>
    </div>
    <div class="col-md-1">
        <label style="padding-left:10px;">Кр.дата</label>
    </div>
    <div class="col-md-1">
        <label style="padding-left:10px;">Коментари</label> 
    </div>
    <div class="col-md-1">
        <label style="padding-left:10px;">Часове</label>
    </div>
    <div class="col-md-1">
        <label style="padding-left:10px;">\\ToDo</label>
    </div>
</div>