<div class="row PrimeBox4 hideonmobile" style="margin-top:5px; font-size:small; max-height:30px;">
    <div class="col-md-6">
        Име на задачата
    </div>
    @*<div class="col-md-1">
            <label style="padding-left:10px;">Статус</label>
        </div>*@
    <div class="col-md-1">
        <label style="padding-left:10px;">Приоритет</label>
    </div>
    <div class="col-md-1">
        <label style="padding-left:10px;">Кр.дата</label>
    </div>
    <div class="col-md-2">
        <label>Тип задача</label>
    </div>

    <div class="col-md-2" style="text-align:center;">
        <label style="padding-left:10px;">Опции</label>
    </div>
</div>