@{
    ViewData["Title"] = "Моите задачи";
}
<input id="currentUserId" value="@(User.Claims.Where(u => u.Type == "userId").Select(u => u.Value).FirstOrDefault())" hidden />
<div class="fade" id="AREA_PARTIAL_VIEW">

</div>

@*<partial name="_ShowTasksPartial" model="@Model.ActiveTasks.Where(t => t.TaskStatusName != TaskStatusClosed)" />*@

@section Scripts {
    <script src="~/js/index.js" charset="utf-8"></script>
    @*<script>
                $(document).ready(function () {
                });
    </script>*@

    @await Html.PartialAsync("_ValidationScriptsPartial")
}
