@{
    ViewData["Title"] = "Моите задачи";
}
<input id="currentUserId" value="@(User.Claims.Where(u => u.Type == "userId").Select(u => u.Value).FirstOrDefault())" hidden />
<div class="fade" id="AREA_PARTIAL_VIEW">
    Здравейте,
    Приложението не работи с браузър Internet explorer(IE).
    Ако виждате това съобщение, значи или ползвате IE или трябва да изчистите кеша на браузъра си.
    Пробвайте с поредица от клавиши F12, F5, F12.
</div>

@*<partial name="_ShowTasksPartial" model="@Model.ActiveTasks.Where(t => t.TaskStatusName != TaskStatusClosed)" />*@

@section Scripts {
    <script src="~/js/index.js" charset="utf-8"></script>
    @*<script>
                $(document).ready(function () {
                });
    </script>*@

    @await Html.PartialAsync("_ValidationScriptsPartial")
}
